<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-blwbmkr-sticky-header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","margin":{"top":"0","bottom":"0"}}},"gradient":"vivid-cyan-blue-to-vivid-purple","className":"is-style-blwbmkr-box-shadow","layout":{"inherit":false}} -->
<div class="wp-block-group is-style-blwbmkr-box-shadow has-vivid-cyan-blue-to-vivid-purple-gradient-background has-background" style="margin-top:0;margin-bottom:0"><!-- wp:group {"className":"is-blwbmkr-overlay","layout":{"contentSize":"","type":"constrained"}} -->
<div class="wp-block-group is-blwbmkr-overlay"><!-- wp:spacer {"height":"37px"} -->
<div style="height:37px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-title {"type":"archive","level":2,"textColor":"foreground","className":"is-style-default","fontSize":"medium"} /-->

<!-- wp:spacer {"height":"37px"} -->
<div style="height:37px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|60"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:term-description /-->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"tour-package","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[]},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"grid","columnCount":3},"fontSize":"extra-small"} -->
<!-- wp:group {"style":{"color":{"background":"#edf2f4"},"spacing":{"padding":{"top":"0px","right":"0px","left":"0px"},"blockGap":"var:preset|spacing|40"},"border":{"radius":"6px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group has-background" style="border-radius:6px;background-color:#edf2f4;padding-top:0px;padding-right:0px;padding-left:0px"><!-- wp:post-featured-image /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"level":3,"isLink":true,"className":"is-style-blwbmkr-text-shadow","fontSize":"extra-small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"1rem"}}},"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group" style="margin-bottom:1rem"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"12px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"opacity":"css","backgroundColor":"secondary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-secondary-color has-css-opacity has-secondary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":34,"style":{"typography":{"fontSize":"13px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"label":"Previous"} /-->

<!-- wp:query-pagination-next {"label":"Next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-extra-tall-sticky","tagName":"footer","className":"site-footer"} /-->