<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-blwbmkr-sticky-header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"100px","right":"100px","bottom":"100px","left":"100px"},"margin":{"top":"0","bottom":"0"}},"color":{"text":"#ffffff","background":"#000000"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group alignfull has-text-color has-background" style="color:#ffffff;background-color:#000000;margin-top:0;margin-bottom:0;padding-top:100px;padding-right:100px;padding-bottom:100px;padding-left:100px"><!-- wp:post-title {"textAlign":"center","textColor":"foreground","className":"is-style-blwbmkr-text-shadow"} /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category"} /-->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:0;padding-bottom:0"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-content {"align":"full","layout":{"inherit":true},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:separator {"opacity":"css","backgroundColor":"secondary","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-secondary-color has-css-opacity has-secondary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"showTitle":true} /-->

<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-extra-tall-sticky","tagName":"footer","className":"site-footer"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"gradient":"luminous-dusk","className":"is-w-full is-position-fixed is-z-50 is-bottom-0 is-inset-x-0","layout":{"type":"constrained","contentSize":""}} -->
<div class="wp-block-group is-w-full is-position-fixed is-z-50 is-bottom-0 is-inset-x-0 has-luminous-dusk-gradient-background has-background" style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-extra-small-font-size"><!-- wp:social-links {"iconBackgroundColor":"vivid-red","iconBackgroundColorValue":"#cf2e2e","showLabels":true,"size":"has-large-icon-size","style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"blockGap":{"top":"0"}}},"className":"is-style-default"} -->
<ul class="wp-block-social-links has-large-icon-size has-visible-labels has-icon-background-color is-style-default"><!-- wp:social-link {"url":"https://wa.me/+6281238673454/?text=MauTanya","service":"whatsapp","label":"Whatsapp!"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->